body > div.matches-fixtures > div > p:nth-child(3){
	    color: #636e72;
}

body > div.matches-fixtures > div > p:nth-child(4){
	    padding-bottom: 60px;
		color: #636e72;
}

body > div.matches-fixtures > div > p:nth-child(3){
	padding-bottom: 20px;
}

body > div.matches-fixtures > div > div.section-2{
	padding-top: 90px;
    padding-bottom: 45px;
}